{% extends '::base.html.twig' %}
{% block title %}Empresas FCT{% endblock %}
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
  {% endblock %}


{% block body %}
<h1>Empresas - Empresa Nueva</h1>
{{form(form)}}
  {% endblock %}
