{% extends '::base.html.twig' %}
{% block title %}Alumno{% endblock %}
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
  {% endblock %}


{% block body %}
<h1>Alumnos - Nuevo Alumno</h1>
{{form(form)}}
  {% endblock %}
