*{
  background-color:grey;
}
h1{
  background-color: #dddddd;
}
a{
  text-decoration: none;
  display:block;
}
#menu, h2, a{
  background-color: #342334;
  color: #dcdcdc;
}
table{
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}
form{
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px;
  padding-bottom: 30px;
  margin: 5px;
  background-color: white;
}
div{
  margin: 3px;
  background-color: white;
}
label{
  background-color: white;
}
input{
  background-color: white;
  border-radius:5px;
  margin-left: 10px;
  width: 50%;
}
select, td, tr{
  background-color: white;
}
button{
  display: inline-block;
  float: left;
}
